    @using (Html.BeginForm("Aauthorization", "Home", FormMethod.Post, new { style = "text-align:center" }))
    {
        <div class="text-center" style="text-align:center">

            <p><h1>Please log in:</h1></p>
            <label for="email">email:</label>
            <p><input id="email" name="email" type="email" value="Valera@gmail.com" /></p>

            <label for="password">password:</label>
            <p><input name="password" type="password" value="098098098" /></p>

            <input class="btn btn-primary" type="submit" value="Submit" />

        </div>

    }
